.dropdown{
  position:relative;
  display:inline-block;
}
.dropdowncontent{
  display:none;
  position:absolute;
  background-color:green;
  min-width:150px;
  box-shadow:0px 5px 8px 0px;
  padding:12px 16px;
  z-index:1;
  color:red;
}
.dropdown:hover .dropdowncontent{
  display:block;
}
.roll{
  position:relative;
  display:inline-block;
}
.rick{
  display:none;
  position:absolute;
  background-color:green;
  min-width:150px;
  box-shadow:0px 5px 8px 0px;
  padding:12px 16px;
  z-index:1;
  color:red;
}
.roll:hover .rick{
  display:block;
}