*{
  box-sizing:border-box;
}
.responsive{
  padding:0 6px;
  float:left;
}
.topnav a:hover{
  background-color:grey;
  color:black;
}
.topnav a{
  color:blue;
  display: block;
  float: left;
  padding:25px 8px;
}
.topnav {
  background-color:rgba(0, 255, 255, 0.705);
  overflow:hidden;
}
div.gallery{
  border:1px solid black;
}
div.gallery:hover{
  border:1px solid gray;
}
div.gallery img{
  width:100%;
  height:auto;
}
@media only screen and (max-width:2400px){
  .responsive{
    width:49.999%;
    margin:6px 0;
  }
}
@media only screen and (max-width:700px){
  .responsive{
    width:49.999%;
    margin:6px 0;
  }
}
@media only screen and (max-width:500px){
  .responsive{
    width:100%;
  }
}
.clearfix:after {
  content: "";
  display:table;
  clear:both;
}