/* Insert any CSS code below here */
.methods{
  width:100%;
  color:darkgreen;
  font-family: Comic Sans MS;
}
p{
  font-family:roboto;
}
ul{
  font-family:roboto;
}
body{
  background-image:url(cak.jpg);
}
input{
  width:50%;
}